<div class="row">
    <div class="col-md-8">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <!--<div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                </div>
                <h2><strong>Basic Form</strong> Elements</h2>
            </div>-->
            <!-- END Form Elements Title -->
            <!-- Basic Form Elements Content -->
            <form class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">

                                <h4 class="panel-title">
                                    Group1
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse in">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">Deepak</p>
                                    </div>

                                    <label class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">Bhardwaj</p>
                                    </div>
                                </div>
                                <a href="#/profile">Edit</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END Basic Form Elements Content -->
        </div>
        <!-- END Basic Form Elements Block -->
    </div>
</div>