
<div class="col-md-6">
    <div class="block">
        <!-- Interactive Title -->
        <div class="block-title">
            <!-- Interactive block controls (initialized in js/app.js -> interactiveBlocks()) -->
            <div class="block-options pull-right">
                <a class="btn btn-alt btn-sm btn-primary" data-toggle="collapse" data-target="#testdiv"><i class="fa fa-arrows-v"></i></a>
                <!--<a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-dismiss="testdiv"><i class="fa fa-desktop"></i></a>
                <a href="#testdiv" class="btn btn-alt btn-sm btn-primary" data-toggle="hide"><i class="fa fa-times"></i></a>-->
            </div>
            <h2><strong>Alerts</strong></h2>
        </div>
        <!-- END Interactive Title -->
        <!-- Interactive Content -->
        <!-- The content you will put inside div.block-content, will be toggled -->
        <div class="block-content" id="testdiv">
            <p>You can add controls to a block and make it interactive (test the functionality from the top right block buttons):</p>
            <ul class="fa-ul list-li-push">
                <li><i class="fa fa-li fa-check text-success"></i> Toggle block's content</li>
                <li><i class="fa fa-li fa-check text-success"></i> Toggle it fullscreen</li>
                <li><i class="fa fa-li fa-check text-success"></i> or Hide it!</li>
            </ul>
        </div>

        <!-- END Interactive Content -->
    </div>
</div>