<div class="row">
    <div class="col-sm-6">
        <div class=" widget">
            <div class="widget-advanced">
                <!-- Widget Header -->
                <div class="widget-header text-center themed-background-dark">
                    <h3 class="widget-content-light clearfix">
                        Awesome <strong>Gallery</strong><br>
                        <small>4 Photos</small>
                    </h3>
                </div>
                <!-- END Widget Header -->
                <!-- Widget Main -->
                <div class="widget-main">
                    <a href="page_comp_gallery.html" class="widget-image-container">
                        <span class="widget-icon themed-background"><i class="gi gi-picture"></i></span>
                    </a>
                    <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo15.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo15.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo5.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo5.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo6.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo6.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo13.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo13.jpg" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Widget Main -->
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_ready_article.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    New <strong>Article</strong><br>
                    <small>Mountain Trip</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_ready_inbox.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="gi gi-envelope"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    5 <strong>Messages</strong>
                    <small>Support Center</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
</div>
<!-- END Mini Top Stats Row -->
<!-- Widgets Row -->
<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-title">
                <!-- Interactive block controls (initialized in js/app.js -> interactiveBlocks()) -->
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-hide"><i class="fa fa-times"></i></a>
                </div>
                <h2><strong>Latest Uploaded Notes</strong></h2>
            </div>
            <div class="block-content">
                <!-- Timeline Content -->
                <div class="timeline">
                    <ul class="timeline-list">
                        <li class="active">
                            <div class="timeline-icon"><i class="gi gi-airplane"></i></div>
                            <div class="timeline-time"><small>just now</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Jordan Carter</strong></a></p>
                                <p class="push-bit">The trip was an amazing and a life changing experience!!</p>
                                <p class="push-bit"><a href="page_ready_article.html" class="btn btn-xs btn-primary"><i class="fa fa-file"></i> Read the article</a></p>
                                <div class="row push">
                                    <div class="col-sm-6 col-md-4">
                                        <a href="img/placeholders/photos/photo1.jpg" data-toggle="lightbox-image">
                                            <img src="img/placeholders/photos/photo1.jpg" alt="image">
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <a href="img/placeholders/photos/photo22.jpg" data-toggle="lightbox-image">
                                            <img src="img/placeholders/photos/photo22.jpg" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon themed-background-fire themed-border-fire"><i class="fa fa-file-text"></i></div>
                            <div class="timeline-time"><small>5 min ago</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Administrator</strong></a></p>
                                <strong>Free courses</strong> for all our customers at A1 Conference Room - 9:00 <strong>am</strong> tomorrow!
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon"><i class="gi gi-drink"></i></div>
                            <div class="timeline-time"><small>3 hours ago</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Ella Winter</strong></a></p>
                                <p class="push-bit"><strong>Happy Hour!</strong> Free drinks at <a href="javascript:void(0)">Cafe-Bar</a> all day long!</p>
                                <div id="gmap-timeline" class="gmap"></div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon"><i class="fa fa-cutlery"></i></div>
                            <div class="timeline-time"><small>yesterday</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Patricia Woods</strong></a></p>
                                <p class="push-bit">Today I had the lunch of my life! It was delicious!</p>
                                <div class="row push">
                                    <div class="col-sm-6 col-md-4">
                                        <a href="img/placeholders/photos/photo23.jpg" data-toggle="lightbox-image">
                                            <img src="img/placeholders/photos/photo23.jpg" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon themed-background-fire themed-border-fire"><i class="fa fa-smile-o"></i></div>
                            <div class="timeline-time"><small>2 days ago</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Administrator</strong></a></p>
                                To thank you all for your support we would like to let you know that you will receive free feature updates for life! You are awesome!
                            </div>
                        </li>
                        <li class="active">
                            <div class="timeline-icon"><i class="fa fa-pencil"></i></div>
                            <div class="timeline-time"><small>1 week ago</small></div>
                            <div class="timeline-content">
                                <p class="push-bit"><a href="page_ready_user_profile.html"><strong>Nicole Ward</strong></a></p>
                                <p class="push-bit">Consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate.</p>
                                Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum.
                            </div>
                        </li>
                        <li class="text-center">
                            <a href="javascript:void(0)" class="btn btn-xs btn-default">View more..</a>
                        </li>
                    </ul>
                </div>
                <!-- END Timeline Content -->
            </div>
        </div>
        <!-- END Timeline Widget -->
    </div>
    <div class="col-md-6">
        <div class="block">
            <!-- Interactive Title -->
            <div class="block-title">
                <!-- Interactive block controls (initialized in js/app.js -> interactiveBlocks()) -->
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-hide"><i class="fa fa-times"></i></a>
                </div>
                <h2><strong>Alerts</strong></h2>
            </div>
            <!-- END Interactive Title -->
            <!-- Interactive Content -->
            <!-- The content you will put inside div.block-content, will be toggled -->
            <div class="block-content">
                <p>You can add controls to a block and make it interactive (test the functionality from the top right block buttons):</p>
                <ul class="fa-ul list-li-push">
                    <li><i class="fa fa-li fa-check text-success"></i> Toggle block's content</li>
                    <li><i class="fa fa-li fa-check text-success"></i> Toggle it fullscreen</li>
                    <li><i class="fa fa-li fa-check text-success"></i> or Hide it!</li>
                </ul>
            </div>

            <!-- END Interactive Content -->
        </div>
    </div>
</div>
