<div class="row">
    <div class="col-sm-6">
        <div class=" widget">
            <div class="widget-advanced">
                <!-- Widget Header -->
                <div class="widget-header text-center themed-background-dark">
                    <h3 class="widget-content-light clearfix">
                        Awesome <strong>Gallery</strong><br>
                        <small>4 Photos</small>
                    </h3>
                </div>
                <!-- END Widget Header -->
                <!-- Widget Main -->
                <div class="widget-main">
                    <a href="page_comp_gallery.html" class="widget-image-container">
                        <span class="widget-icon themed-background"><i class="gi gi-picture"></i></span>
                    </a>
                    <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo15.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo15.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo5.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo5.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo6.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo6.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo13.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo13.jpg" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Widget Main -->
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_ready_article.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    New <strong>Article</strong><br>
                    <small>Mountain Trip</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="page_ready_inbox.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="gi gi-envelope"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    5 <strong>Messages</strong>
                    <small>Support Center</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
</div>
<!-- END Mini Top Stats Row -->
<!-- Widgets Row -->
<div class="row">
    <!--notes-->
    <notes-directive></notes-directive>
    <!--alerts section-->
    <alerts-directive></alerts-directive>
    <!---->
</div>
