<div class="row">
    <div class="col-sm-6">
        <div class=" widget">
            <div class="widget-advanced">
                <!-- Widget Header -->
                <!-- END Widget Header -->
                <!-- Widget Main -->
                <div class="widget-main">
                 
                    <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo15.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo15.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo5.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo5.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo6.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo6.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo13.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo13.jpg" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Widget Main -->
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class=" widget">
            <div class="widget-advanced">
                <!-- Widget Header -->
                <!-- END Widget Header -->
                <!-- Widget Main -->
                <div class="widget-main">

                    <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo15.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo15.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo5.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo5.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo6.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo6.jpg" alt="image">
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="img/placeholders/photos/photo13.jpg" class="gallery-link" title="Image Info">
                                    <img src="img/placeholders/photos/photo13.jpg" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Widget Main -->
            </div>
        </div>
    </div>
</div>
<!-- END Mini Top Stats Row -->
<!-- Widgets Row -->
<div class="row">
    <!--notes-->
    <notes-directive></notes-directive>
    <!--alerts section-->
    <alerts-directive></alerts-directive>
    <!---->
</div>
