<div class="col-md-6">
    <div class="block">
        <div class="block-title">
            <!-- Interactive block controls (initialized in js/app.js -> interactiveBlocks()) -->
            <div class="block-options pull-right">
                <a class="btn btn-alt btn-sm btn-primary" data-toggle="collapse" data-target="#divnotes"><i class="fa fa-arrows-v"></i></a>
                <!--<a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
                <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary" data-toggle="block-hide"><i class="fa fa-times"></i></a>-->
            </div>
            <h2><strong>Latest Uploaded Notes</strong></h2>
        </div>
        <div class="block-content" id="divnotes">
            <!-- Timeline Content -->
            <div class="row">
                <div class="col-sm-6">
                    <!-- Widget -->
                    <div class="widget widget-hover-effect1">
                        <small class="date">Just Now</small>
                        <div class="widget-simple">
                            <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                <i class="fa fa-file-text"></i>
                            </div>
                            <h3 class="widget-content text-right animation-pullDown">
                                My <strong>Article</strong><br>
                                <small>Deepak Bhardwaj</small>
                                <small>Professor</small>
                                <a><small>view more..</small></a>
                            </h3>
                        </div>
                        <div class="footer">
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-up"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-down"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-download"></i> 100</small>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget -->
                </div>
                <div class="col-sm-6">
                    <!-- Widget -->
                    <div class="widget widget-hover-effect1">
                        <small class="date">Just Now</small>
                        <div class="widget-simple">
                            <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                <i class="fa fa-file-text"></i>
                            </div>
                            <h3 class="widget-content text-right animation-pullDown">
                                My <strong>Article</strong><br>
                                <small>Deepak Bhardwaj</small>
                                <small>Professor</small>
                                <a><small>view more..</small></a>
                            </h3>
                        </div>
                        <div class="footer">
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-up"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-down"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-download"></i> 100</small>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget -->
                </div>
                <div class="col-sm-6">
                    <!-- Widget -->
                    <div class="widget widget-hover-effect1">
                        <small class="date">Just Now</small>
                        <div class="widget-simple">
                            <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                <i class="fa fa-file-text"></i>
                            </div>
                            <h3 class="widget-content text-right animation-pullDown">
                                My <strong>Article</strong><br>
                                <small>Deepak Bhardwaj</small>
                                <small>Professor</small>
                                <a><small>view more..</small></a>
                            </h3>
                        </div>
                        <div class="footer">
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-up"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-down"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-download"></i> 100</small>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget -->
                </div>
                <div class="col-sm-6">
                    <!-- Widget -->
                    <div class="widget widget-hover-effect1">
                        <small class="date">Just Now</small>
                        <div class="widget-simple">
                            <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                                <i class="fa fa-file-text"></i>
                            </div>
                            <h3 class="widget-content text-right animation-pullDown">
                                My <strong>Article</strong><br>
                                <small>Deepak Bhardwaj</small>
                                <small>Professor</small>
                                <a><small>view more..</small></a>
                            </h3>
                        </div>
                        <div class="footer">
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-up"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-thumbs-o-down"></i> 100</small>
                            </div>
                            <div class="col-xs-4">
                                <small><i class="fa fa-download"></i> 100</small>
                            </div>
                        </div>
                    </div>
                    <!-- END Widget -->
                </div>

                
            </div>
            <!-- END Timeline Content -->
        </div>
    </div>
    <!-- END Timeline Widget -->
</div>