<div id="page-content">
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li class="active">
                <a href="#/notesdashboard"><i class="fa fa-bar-chart"></i> Notes Dashboard</a>
            </li>
            <li>
                <a href="#/Notes"><i class="gi gi-shop_window"></i> Upload Notes</a>
            </li>
            <li>
                <a href="#/viewnotes"><i class="gi gi-shopping_cart"></i> View Notes</a>
            </li>
            <li>
                <a href="#/Notes"><i class="gi gi-shopping_bag"></i> Edit Notes</a>
            </li>
        </ul>
    </div>
    <div class="row text-center">
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background">
                    <h4 class="widget-content-light"><strong>Uploaded</strong> Notes</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 animation-expandOpen">3</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Users</strong>Review Rating</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">10%</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Earnings</strong> Today</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">$ 4.250</span></div>
            </a>
        </div>
    </div>
</div>
