<div id="page-content">
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li class="active">
                <a href="#/notesdashboard"><i class="fa fa-bar-chart"></i> Notes Dashboard</a>
            </li>
            <li>
                <a href="#/Notes"><i class="gi gi-shop_window"></i> Upload Notes</a>
            </li>
            <li>
                <a href="#/viewnotes"><i class="gi gi-shopping_cart"></i> View Notes</a>
            </li>
            <li>
                <a href="#/Notes"><i class="gi gi-shopping_bag"></i> Edit Notes</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <h2><strong>Add New</strong> Notes</h2>
                </div>
                <!-- END Form Elements Title -->
                <!-- Basic Form Elements Content -->
                <form action="page_forms_general.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <!--<div class="form-group">
                        <label class="col-md-3 control-label">Static</label>
                        <div class="col-md-9">
                            <p class="form-control-static">Username</p>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-text-input">Notes Lable</label>
                        <div class="col-md-9">
                            <input type="text" id="noteslableinput" name="noteslableinput" class="form-control" placeholder="Provide Notes lable">
                            <span class="help-block">Provide a notes lable like with your company or institue name. </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-text-input">Title</label>
                        <div class="col-md-9">
                            <input type="text" id="notestitle" name="notestitle" class="form-control" placeholder="Provide Notes title">
                            <span class="help-block">Provide a notes title </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-select">Notes Category</label>
                        <div class="col-md-9">
                            <select id="example-select" name="example-select" class="form-control" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Category #1</option>
                                <option value="2">Category #2</option>
                                <option value="3">Category #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-select">Subject</label>
                        <div class="col-md-9">
                            <select id="example-select" name="example-select" class="form-control" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Subject #1</option>
                                <option value="2">Subject #2</option>
                                <option value="3">Subject #3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-select">Topic</label>
                        <div class="col-md-9">
                            <select id="example-select" name="example-select" class="form-control" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Topic #1</option>
                                <option value="2">Topic #2</option>
                                <option value="3">Topic #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-textarea-input">Description</label>
                        <div class="col-md-9">
                            <textarea id="example-textarea-input" name="example-textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-file-multiple-input">Multiple File input</label>
                        <div class="col-md-9">
                            <input type="file" id="example-file-multiple-input" name="example-file-multiple-input" multiple>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> save notes</button>
                            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                        </div>
                    </div>
                </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>


    </div>
</div>



