
<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div>
            <div class='ng-modal-close' ng-click='hideModal()'>X</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Deepak Bhardwaj- {{userid}}</h3>
                </div>
                <div class="form-group">

                    <div class="col-md-9">
                        <div class="radio">
                            <label for="example-radio1">
                                <input type="radio" id="example-radio1" name="example-radios" value="option1"> Subscribe to all
                            </label>
                            <button type="submit" class="btn btn-sm btn-primary">save Configuration</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="panel-body">
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">

                                <h4 class="panel-title">
                                    Group1
                                </h4>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="uploadimages/deepak.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="uploadimages/deepak.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <a href="javascript:void(0)" class="widget widget-hover-effect1 themed-background-autumn">
                                            <div class="widget-simple">
                                                <input type="checkbox" />
                                                <img src="img/placeholders/avatars/avatar5.jpg" alt="avatar" class="widget-image img-circle pull-right">
                                                <h4 class="widget-content widget-content-light text-right">
                                                    <strong>Louis Peters</strong>
                                                    <small>Photographer</small>
                                                </h4>
                                            </div>
                                        </a>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                            <h4 class="panel-title">
                                My Group 2
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Show All My Group 2 Members
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                            <h4 class="panel-title">

                                My Group 3

                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Show All My Group 3 Members
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> save</button>
                        <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                    </div>
                </div>
            </div>
            <!--<div class="panel-footer">
                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
                <i class="glyphicon glyphicon-envelope"></i></a>
                <span class="pull-right">
                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                </span>
            </div>-->

        </div>

    </div>

    <!--<div class='ng-modal-dialog-content' ng-transclude></div>-->
</div>
</div>

