<div id="page-content" ng-controller="notesController">
    <!-- eCommerce Orders Header -->
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li>
                <a href="#/notesdashboard"><i class="fa fa-bar-chart"></i> Notes Dashboard</a>
            </li>
            <li>
                <a href="#/Notes"><i class="gi gi-shop_window"></i> Upload Notes</a>
            </li>
            <li class="active">
                <a href="#/viewnotes"><i class="gi gi-shopping_cart"></i> View Notes</a>
            </li>
            <li>
                <a href="#/Notes"><i class="gi gi-shopping_bag"></i> Edit Notes</a>
            </li>
        </ul>
    </div>
    <!-- END eCommerce Orders Header -->
    <!-- Quick Stats -->
    <!-- END Quick Stats -->
    <!-- All Orders Block -->
    <div class="block full">
        <!-- All Orders Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
            </div>
            <h2><strong>All</strong> Notes</h2>
        </div>
        <!-- END All Orders Title -->
        <!-- All Orders Content -->
        <table id="ecom-orders" class="table table-bordered table-striped table-vcenter">
            <thead>
                <tr>
                    <th class="text-center" style="width: 100px;">Title</th>
                    <th class="visible-lg">Name</th>
                    <th class="text-center visible-lg">Topic</th>
                    <th class="hidden-xs">Subject</th>
                    <th class="text-right hidden-xs">Status</th>
                    <th class="text-right hidden-xs">Date</th>
                    <th class="text-center">Subscribe Notes</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><a href="#"><strong>Notes Title</strong></a></td>
                    <td class="visible-lg"><a href="javascript:void(0)">Notes Name</a></td>
                    <td class="text-center visible-lg"><a href="javascript:void(0)">Topic</a></td>
                    <td class="hidden-xs">Maths</td>
                    <td class="text-right hidden-xs"><strong>Active</strong></td>

                    <td class="hidden-xs text-center">14/01/2017</td>
                    <td class="text-center"><button type="button" class="btn btn-xs btn-success" ng-click="toggleModal('10');">subscribe</button></td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="page_ecom_order_view.html" data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-eye"></i></a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center"><a href="#"><strong>Notes Title</strong></a></td>
                    <td class="visible-lg"><a href="javascript:void(0)">Notes Name</a></td>
                    <td class="text-center visible-lg"><a href="javascript:void(0)">Topic</a></td>
                    <td class="hidden-xs">Maths</td>
                    <td class="text-right hidden-xs"><strong>Active</strong></td>

                    <td class="hidden-xs text-center">14/01/2017</td>
                    <td class="text-center"><button type="button" class="btn btn-xs btn-success" ng-click="toggleModal('10');">subscribe</button></td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="page_ecom_order_view.html" data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-eye"></i></a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
        <!-- END All Orders Content -->
    </div>
    <subscribe-notes show='modalShown' profile-id='profileId' width='800px' height='90%'>
        <p>Modal Content Goes here<p>
    </subscribe-notes>
    <!-- END All Orders Block -->
</div>


